In [2]:
##my code for testing to print Fibbonoci series

def fibonocci_series(a,b,n):
    lst =[]
    first = a
    second = b
    for _ in range(n):
        lst.append(first)
        first, second = second, first + second
    return lst

print(fibonocci_series(2,3,10))

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [ ]:
##my code for testing to print Fibbonoci of a number

def fibbonoci(n):
    if n==0:
        return 0
    else:
        return n + fibbonoci(n-1)

print(fibbonoci(5))

15

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('matches.csv')
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2008,Bangalore,4/18/2008,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bengaluru,field,Kolkata Knight Riders,runs,140,223,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2008,Chandigarh,4/19/2008,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33,241,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2008,Delhi,4/19/2008,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals,wickets,9,130,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2008,Mumbai,4/20/2008,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,bat,Royal Challengers Bengaluru,wickets,5,166,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2008,Kolkata,4/20/2008,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5,111,20.0,N,NaN,BF Bowden,K Hariharan

In [6]:
df.tail()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1090,1426307,2024,Hyderabad,5/19/2024,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4,215,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,5/21/2024,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8,160,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,5/22/2024,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4,173,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,5/24/2024,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36,176,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,5/26/2024,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8,114,20.0,N,NaN,J Madanagopal,Nitin Menon

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   int64
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 171.2+ KB

In [7]:
#Checking duplicate rows
df.duplicated().sum()

0

In [8]:
# Calculate the total number of matches
#Here Shape[0] returns number Of rows in the file where Shape[1] return Columns
total_matches  = df.shape[0]
print(f"The Total Number Of Matches Played in IPL are : {total_matches}")

The Total Number Of Matches Played in IPL are : 1095

In [30]:
df['season'].value_counts().sort_index().to_frame().T

season,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,58,57,60,73,74,76,60,59,60,59,60,60,60,60,74,74,71

In [12]:
city_counts = df['city'].value_counts()

# Find the city with the most matches
most_matches_city = city_counts.idxmax()

print(f"City with the most matches: {most_matches_city}")

City with the most matches: Mumbai

In [13]:
def matches_in_city(df, city_name):
    # Filter the DataFrame for the specified city and count the matches
    city_matches = df[df['city'] == city_name].shape[0]
    return city_matches

In [14]:
city_name = input("Enter the city name: ")
matches_count = matches_in_city(df, city_name)
print(f"Number of matches played in {city_name}: {matches_count}")

Number of matches played in Bangalore: 65

In [15]:
df['target_runs'] = pd.to_numeric(df['target_runs'], errors='coerce').fillna(0)

# Convert to integer
target_runs = df['target_runs'].astype(int)

# Calculate max and min
max_target = target_runs.max()
min_target = target_runs.min()

print(f"Maximum target score: {max_target}, Minimum target score: {min_target}")

Maximum target score: 288, Minimum target score: 43

In [19]:
season_counts = df['season'].value_counts().sort_index()
print(season_counts)

season
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    74
2024    71
Name: count, dtype: int64

In [17]:
def get_team_win_data(df, team_name):

    every_team_win_data = df.groupby(['season', 'winner']).size().reset_index()
    every_team_win_data.columns = ['Season', 'Winner', 'Total Wins']

    team_win_data = every_team_win_data[every_team_win_data['Winner'] == team_name]
    if team_win_data.empty:
        print(f"No win data found for {team_name}.")
    else:
        styled_data = team_win_data.style.background_gradient(cmap='coolwarm')
        return styled_data

In [18]:
team_name = input("Enter the team name to check their winning data: ")
result = get_team_win_data(df, team_name)

if result:
    display(result)

In [40]:
top_players = df['player_of_match'].value_counts().head(20)
print(top_players)

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
DA Warner         18
V Kohli           18
MS Dhoni          17
SR Watson         16
YK Pathan         16
RA Jadeja         16
AD Russell        15
SP Narine         15
SK Raina          14
KA Pollard        14
JC Buttler        13
G Gambhir         13
KL Rahul          13
AM Rahane         13
MEK Hussey        12
A Mishra          12
Rashid Khan       12
Name: count, dtype: int64

In [31]:
def player_award_info(df, player_name):
    
    player_data = df[df['player_of_match'] == player_name]

    if player_data.empty:
        print(f"No records found for player: {player_name}")
        return

    # here Calculating the total number of awards
    total_awards = len(player_data)

    team_award_counts = player_data['winner'].value_counts().to_dict()

    # Get the teams the player was part of when they won
    teams = player_data['team1'].where(player_data['winner'] == player_data['team1']).dropna().tolist() + \
            player_data['team2'].where(player_data['winner'] == player_data['team2']).dropna().tolist()

    # Print the details
    print(f"Player: {player_name}")
    print(f"Total Player of the Match awards: {total_awards}")
    print(f"Teams played for when winning awards: {set(teams)}")
    print("Awards per team:")
    for team, count in team_award_counts.items():
        print(f"{team}: {count}")

In [32]:
player_award_info(df, 'KL Rahul')

Player: KL Rahul
Total Player of the Match awards: 13
Teams played for when winning awards: {'Lucknow Super Giants', 'Kings XI Punjab', 'Punjab Kings'}
Awards per team:
Kings XI Punjab: 7
Punjab Kings: 3
Lucknow Super Giants: 3

In [22]:
team_wins = df['winner'].value_counts().sort_index()
print(team_wins)

winner
Chennai Super Kings            138
Deccan Chargers                 29
Delhi Capitals                 115
Gujarat Lions                   13
Gujarat Titans                  28
Kings XI Punjab                 88
Kochi Tuskers Kerala             6
Kolkata Knight Riders          131
Lucknow Super Giants            24
Mumbai Indians                 144
Pune Warriors                   12
Punjab Kings                    24
Rajasthan Royals               112
Rising Pune Supergiant          15
Royal Challengers Bengaluru    123
Sunrisers Hyderabad             88
Name: count, dtype: int64

In [25]:
# Calculating how many seasons each team has played
team_season_counts = df.groupby('team1')['season'].nunique()

# Calculating the total number of matches each team played
team_matches = df['team1'].value_counts() + df['team2'].value_counts()

# Calculating the total number of matches each team won
team_wins = df['winner'].value_counts()

# Calculating the winning percentage
winning_percentage = (team_wins / team_matches * 100).fillna(0).round(2)


# Present the result in a visually appealing format
styled_result = result.style.background_gradient(cmap='coolwarm')
styled_result = styled_result.set_properties(**{'border': '1px solid black', 'color': 'black'})
styled_result = styled_result.set_table_attributes("style='border-collapse: collapse;'")
styled_result = styled_result.set_caption("Team Performance Summary")

display(styled_result)